.profile {
  min-height: 80vh;
}

.profile-bio {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.profile-bio h1 {
  position: relative;
  color: #fff;
  margin: 5vh 0;
  padding: 5vh 0;
}

.profile-bio h1:before {
  content: '';
  position: absolute;
  top: -5vh;
  height: 1px;
  width: 65px;
  left: 50%;
  transform: translateX(-50%);
  background: #E5E5E5;
}

.profile-bio h1:after {
  content: '';
  position: absolute;
  bottom: -5vh;
  height: 1px;
  width: 65px;
  left: 50%;
  transform: translateX(-50%);
  background: #E5E5E5;
}
