.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(28,28,28,0.95);
}

.header a {
  color: white;
  padding: 1rem;
  display: inline-block;
}
