.load-screen {
  background-color: #1C1C1C;
  background-image: url('https://media.istockphoto.com/photos/vibrant-tie-dye-picture-id184372785?k=6&m=184372785&s=612x612&w=0&h=GzYhGl2L6BxHJkOWpPrlj9gUrZins4djZcKT0m5psFo=');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
}

.load-screen img {
  max-width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-leave {
  opacity: 1;
}

.loading-leave.loading-leave-active {
  opacity: 0.01;
  transition: opacity 0.25s ease-out;
}
